<!doctype html>
<html ng-app ng-cloak="">
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
   <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html">
   <title>Github API Webapp using AngularJS</title>
   <link href="https://bootswatch.com/simplex/bootstrap.min.css" rel="stylesheet">
 
</head>

<body ng-controller="GitHubCtrl">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="header">
          
          <a class="navbar-brand" href="#">Github Finder</a>
        </div>
       
        </div>
      </div>
    </nav>

<div class="container">
   <div>
     <input type="text"  id="searchUser" class="form-control" ng-model="username" placeholder="Github username...">
       <br> <button class="btn btn-info" ng-click="getGitInfo()">GetUser</button>
       <hr>

      <div ng-show="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{user.name}}
                <span class="smallname">(@<a href="{{user.html_url}}" target="_blank"> {{user.login}} </a>)</span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail github-avatar"  src="{{user.avatar_url}}" alt="avatar">
                </div>
                <div class="col-md-8">
                    <div class="stats">
                    <span class="label label-default">{{user.public_repos}} Public Repos</span>
                    <span class="label label-primary">{{user.public_gists}} Public Gists</span>
                    <span class="label label-success">{{user.followers}} Followers</span>
                    <span class="label label-info">{{user.following}} Following</span>
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li> 
                         <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
                          <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                           <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li> 
                            <li class="list-group-item"><strong>Member Since: </strong>{{user.created_at}}</li>  
                    </ul>
                </div>    
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Repos</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="repo in repos">
                        <div class="row">
                            <div class="col-md-9">
                                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>    
                                <p>{{repo.description}}</p>
                            </div>
                            <div class="col-md-3">
                                <span class="label label-default">{{repo.watchers}} Watchers</span>
                                <span class="label label-primary">{{repo.forks}} Forks</span>
                            </div>    
                        </div> 
                       
                    </div>    
                </div>    
            </div>
        </div>
   </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

